<h2>My Heroes</h2>
<ul class="heroes">
    <!-- To list each hero use the angular for loop 'ngFor' to loop through the array -->
    <!-- and do not forget the asterisk; it's important in -->
    <!-- The parens around the click tell angular to listen for the list items click event -->
    <!-- when the user clicks on the li, angular executes the onSelect(hero) expression; this is an example of ng's event binding syntax -->
    <!-- [class.selected] changes class of the li when hero is the same as selected hero, when these two are different, angular removes the classes -->
    <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
        <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
        </a>
    </li>
</ul>

<!-- This is one-way data binding from the selectedHero property of the Heroes Component to the hero property of the heroes detail component  -->
<!-- When a user clicks a hero in the list, selectedHero changes. -->
<!-- When the selectedHero changes, the property binding updates the hero and the herodetail component to display the new hero -->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>

<!-- <h2>{{hero.name}}</h2> -->
<!-- The interpolation uppercase binding can be used in html -->
<!-- They are a good way to format strings and such -->
<!-- <div><span>id: </span>{{hero.id | uppercase}}</div> -->
<!-- <div><span>name: </span>{{hero.name}}</div> -->

<!-- <div> -->
    <!-- <label> -->
        <!-- name: -->
        <!-- ngmodel is angulars 2 way binding syntax, it binds hero.name to the html textbox -->
        <!-- so data can flow in both directions: from hero.name property to textbox and vice versa -->
        <!-- <input [(ngModel)]="hero.name" placeholder="name" />     -->
    <!-- </label> -->
<!-- </div> -->
<!-- the *ngIf here removes the entire div from the DOM if selectedHero is undefined.  -->
<!-- 
    <div *ngIf="selectedHero">
    <h2>{{selectedHero.name | uppercase}}</h2>
    <div><span>id: </span>{{selectedHero.id}}</div>
    <div>
        <label>name:
            <input [(ngModel)]="selectedHero.name" placeholder="name"/>
        </label>
    </div>
</div> 
-->